@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

:root {
  --bg-color: #f0ecec;
  --primary-text-color: #7c4dff;
  --sec-text-color: #000000;
  --sec-bg-color: #bdbdbd;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(180deg, #d1c4e9, #f0ecec);
  background-attachment: fixed;
  background-size: cover;
}
section {
  min-height: 100vh;
  padding: 7rem 9%;
  padding-bottom: 5rem;
}
/* HEADER SECTION */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1c4e9;
}
.header .logo_link a {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--primary-text-color);
}
#menu_icon {
  display: none;
  font-size: 3rem;
  cursor: pointer;
  color: var(--sec-text-color);
}
.nav_link {
  a {
    color: var(--sec-text-color);
    padding-left: 3rem;
    font-size: 2.2rem;
    font-weight: 500;
    transition: 0.3s ease;
    &.active {
      color: var(--primary-text-color);
    }
    &:hover {
      color: var(--primary-text-color);
    }
  }
}
/* 
.bar-box{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bar-box .bar{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  animation: hide-bars .5s ease-in-out both;  
  animation-delay: calc(.1s * var(--i));
}
@keyframes hide-bars{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.bar-box.active .bar{
  animation: show-bars .5s ease-in-out both;  
  animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */

/* SECTION STYLE */
/* section {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10rem 9% 2rem;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
section.active {
  animation: show-content .5s linear forwards;
  animation-delay: 1.6s;
}
@keyframes show-content{
  100%{
    visibility: visible;
    opacity: 1;
    overflow: auto;
  }
} */
/*------HOME SCTION------------*/
.hero {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
}
.hero .hero_content {
  width: 50%;
  text-align: justify;
  h1{
    font-size: clamp(2.5rem, 10vw, 4.5rem);
    font-weight: 600;
    color: var(--sec-text-color);
  }
  h2{
    font-size: 5rem;
    color: #000000;
    margin-top: -1rem;
  }
  h3{
    font-size: 2.5rem;
    color: var(--primary-text-color);
    margin-top: -1rem;
  }
  p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
.hero_content .social_links{
  display: flex;
  gap: 3rem;
  align-items: center;
  text-align: center;
  a{
    font-size: 2.5rem;
    color: #000000;
    .i{
      color: #7c4dff;
    }
  }
}
.social_links .btn{
  a{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #7c4dff;
    padding: 1rem 2rem;
    color: #ffffff;
    border-radius: 32px;
    font-size: 2rem;
    cursor: pointer;
    i{
      font-size: 2.5rem;
      color: #ffffff;
    }
  }
}
.hero .hero_content_img{
  img{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
}


/*------ABOUT SECTION------------*/
.about .heading{
  font-size: 2.5rem;
  font-weight: 600;
  color: #7c4dff;
  text-align: center;
  margin-top: 6rem;
}
.about .about_content{
  width: 1200px;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  gap: 5rem;
  align-items: center;

}
.about_left_content img{
  position: relative;
  width: 50rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.about_right_content{
  width: 100%;
  text-align: justify;
  h3{
    font-size: 3.3rem;
    color: var(--sec-text-color);
    margin-bottom: .3rem;
  }
  .hero_name{
    font-size: 2.7rem;
  }
  h4{
    font-size: 2.5rem;
    color: var(--primary-text-color);
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.7rem;
    font-weight: 500;
  }
  .btn-box{
    margin-top: 3rem;
    .btn{
      padding: 1.3rem 3rem; 
      background-color: var(--primary-text-color);
      color: #ffffff;
      border-radius: 32px;
      font-size: 1.8rem;
      .fa-brands:before, .fa-regular:before, .fa-solid:before, .fa:before, .fab:before, .far:before, .fas:before {
        color: #ffffff;
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
  }
}

/*------Education SECTION------------*/
.education-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 17rem;
  margin-top: 6rem;
}
.education-box h2 {
  font-size: 4.5rem;
}
.education-box .descr {
  font-size: 1.6rem;
  margin: 2rem 0 5rem;
}
.education-box .education-btn {
  width: 100%;
  height: 5.3rem;
  background-color: #bdbdbd;
  border: 0.2rem solid #bdbdbd;
  color: var(--sec-text-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.education-box .education-btn.active {
  border-color: var(--primary-text-color);
  color: var(--primary-text-color);
}
.education-box .heading {
  font-size: 3.5rem;
  text-align: left;
  margin-top: 1rem;
  span {
    color: var(--primary-text-color);
  }
}
.education-detail {
  display: none;
}
.education-detail.active {
  display: block;
}
.education-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 45rem;
  margin-top: 5rem;
  overflow: auto;
}
.education-list .education-item {
  background-color: #bdbdbd;
  border-radius: 0.8rem;
  padding: 3rem 2.5rem;
  height: calc((45rem - 2rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education-item {
  .year {
    font-size: 1.6rem;
    color: var(--primary-text-color);
    font-weight: 500;
  }
  h3 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .hero_info{
    color: #7c4dff;
    span{
      color: var(--sec-text-color);
      padding-left: 1rem;
    }
  }
}
.education-item h3 {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.education-item h3::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  margin-left: -2rem;
}

.education-detail.skills .skills-list {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  height: auto;
  overflow: auto;
  margin-top: 5rem;
}
.skills-list .skills-item {
  background-color: var(--sec-bg-color);
  border-radius: 0.8rem;
  padding: 3rem 2.5rem;
  height: calc((45rem - 2rem) / 2);
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;
  align-items: center;
  height: auto;
  text-align: center;
}
.skills-item {
  display: flex;
  align-items: center;
  background-color: var(--sec-bg-color);
  padding: 2rem;
  span{
    font-size: 1.6rem;
    padding-left: 2rem;
  }
}
.skills-list .skills-item .icon{
  font-size: 6rem;
  transition: 0.3s;
  cursor: pointer;
}
.fa-brands:before, .fa-regular:before, .fa-solid:before, .fa:before, .fab:before, .far:before, .fas:before {
  content: var(--fa);
  content: var(--fa) / "";
  font-size: 3.7rem;
  color: var(--primary-text-color);
}
.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3.7rem;
  color: var(--primary-text-color);
}
.skills-list .skills-item i:hover {
  color: var(--primary-text-color);
}
.skills-item span {
  font-size: 2rem;
  font-weight: 500;
}
.education-detail.aboutme .skills-list {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
  overflow: visible;
  margin-top: 5rem;
}
.education-detail.aboutme .skills-item {
  padding: 0 0 0.5rem;
  height: auto;
  background-color: transparent;
  display: inline-block;
  align-items: center;
  text-align: center;
}
.skills-item {
  p {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-text-color);
    text-align: left;
    span {
      color: var(--text-color);
      padding-left: 1rem;
    }
  }
}

/*------PROJECTS SECTION------------*/
.portfolio .heading {
  font-size: 4.5rem;
  text-align: center;
  margin-top: 2rem;
  span {
    color: var(--primary-text-color);
  }
}
.portfolio-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.portfolio-details {
  display: none;
}
.portfolio-details.active {
  display: block;
}
.portfolio-box .numb {
  font-size: 8rem;
  -webkit-text-stroke: 0.07rem var(--sec-text-color);
  color: transparent;
  line-height: 1;
}
.portfolio-box h3 {
  font-size: 3.5rem;
  margin: 0.8rem 0 2rem;
}
.portfolio-box p {
  font-size: 1.6rem;
}
.portfolio-box .tech{
    color: var(--primary-text-color);
    font-size: 1.6rem;
    margin: 2rem 0;
    border-bottom: .2rem solid var(--sec-text-color);
    padding-bottom: 2rem;
    letter-spacing: .6px;
}
.portfolio-box .github-link a{
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--sec-text-color);
    border-radius: 50%;
    background-color: var(--sec-bg-color);
}
.portfolio-box .github-link a:hover{
    color: #ffffff;
}
.portfolio-box .github-link a:first-child{
    margin-right: 1.5rem;
}
.portfolio-box .github-link a:first-child i{
    transform: rotate(135deg);
}
.portfolio-box .github-link a span{
    position: absolute;
    left: 50%;
    top: -60%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background-color: var(--sec-text-color);
    opacity: 0;
    transition: .2s;
}
.portfolio-box .github-link a:hover span{
    opacity: 1;
    top: -70%;
    transform: translateX(-50%) scale(1);
}
.portfolio-box .portfolio-carousel{
  width: 100%;
  height: 45rem;
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio-carousel .img-slide{
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  grid-auto-columns: 100%;
  height: inherit;
  transition: .5s;
}
.portfolio-carousel .img-slide .img-item{
  height: inherit;
}
.portfolio-carousel .img-slide .img-item img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.portfolio-box .navigation{
  text-align: right;
  margin-top: 2rem;
}
.portfolio-box .navigation button{
  display: inline-flex;
  padding: .6rem;
  background-color: var(--bg-color);
  border: .2rem solid var(--main-color);
  color: var(--main-color);
  border-radius: .6rem;
  font-size: 4rem;
  cursor: pointer;
}
.portfolio-box .navigation button.disabled{
  color: var(--text-color);
  background-color: var(--bg-color);
  opacity: 0.5;
  
}
.portfolio-box .navigation .arrow-right{
  margin-left: 2rem;
}


/*------CONTACT SECTION------------*/
.contact-container{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
  margin-top: 6rem;
}
.contact-container .contact-box:first-child{
  align-self: center;
}
.contact-box h2{
  font-size: 4.5rem;
  margin: 0 0 2rem 0;
}
.contact-box p{
  font-size: 1.6rem;
}
.contact-box .contact-detail{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.contact-detail i{
  display: inline-flex;
  background-color: var(--sec-bg-color);
  font-size: 3rem;
  padding: 1.3rem;
  color: var(--primary-text-color);
  border-radius: .6rem;
  margin-right: 1.5rem;
}
.detail p:first-child{
  color: var(--primary-text-color);
  font-weight: 500;
}

.contact-box form{
  background-color: var(--sec-bg-color);
  text-align: center;
  padding: 2.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  h2{
    color: #000000;
    span{
      color: var(--primary-text-color);
    }
  }
}
.contact-box .field-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea{
  padding: 1.5rem;
  background-color: var(--bg-color);
  border: .15rem solid var(--bg-color);
  border-radius: .6rem;
  font-size: 1,6rem;
  color: var(--text-color);
}
.contact-box .field-box textarea{
  grid-column: 1/-1;
  height: 26rem;
  resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
  border-color: var(--primary-text-color);
}
.contact-box .btn{
  margin-top: 2rem;
  cursor: pointer;
  background-color: var(--primary-text-color);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 32px;
  font-size: 1.5rem;
}


/* BREAKPOINTS */

@media all and (max-width:1200px){
  html{
    font-size: 55%;
  }
  .education-container {
    gap: 10rem;
    margin-top: 14rem;
}
}

@media all and (max-width:992px){
  .header{
    padding: 2rem 4%;
  }
  section{
    padding: 10rem 4% 2rem;
  }
  .hero .hero_content_img{
    img{
      width: 33vw;
      height: 33vw;
    }
  }
  .about_left_content img{
    width: 46rem;
    height: 48rem;
    margin-right: 40px;
  }
  .about .about_content {
    gap: 0rem;
  }
  .about_right_content {
    margin-right: 301px;
  }
  .education-container {
    margin-top: 10rem;
    gap: 5rem;
  }

  .education-list {
    margin-top: 7rem;
  }

  .portfolio-container {
    margin-top: 10rem;
  }

  .contact-container {
    margin-top: 10rem;
  }
}

@media all and (max-width:810px){
  .hero .hero_content_img{
    img{
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
      margin-right: 43rem;
    }
  }
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero .hero_content {
    width: 50%;
    text-align: justify;
    margin-right: 40rem;
    p{
      width: 74rem;
    }
  }
  .about .about_content{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
  }
  .about_right_content {
    margin-right: 0;
    
    p{
      width: 70rem;
    }
  }
  .about_left_content img {
    margin-right: 54rem;
}

.education-container {
  gap: 6rem;
}

  .contact-box .field-box{
    grid-template-columns: 1fr;
  }
}

@media all and (max-width:768px){
  #menu_icon{
    display: block;
  }
  .hero .hero-content{
    padding: 2rem 4%;
  }

  nav{
    position: absolute;
    top: 100%;
    left: 51rem;
    width: 40%;
    background-color: #d1c4e9;
    padding: 1rem 0;
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    z-index: 100000;
    border-radius: 1rem 0 0 1rem;
    .last_a{
      border-bottom: none;
      margin: 0;
    }
  }
  nav.active{
    display: block;
  }
  nav a{
    display: block;
    margin: 4rem 0;
    text-align: start;
  }
  /* .hero{
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
  } */
  /* .hero_content_img{
    position: relative;
    width: 32vw;
    height: 32vw;
  } */

  .education-container,
  .portfolio-container,
  .contact-container{
    grid-template-columns: 1fr;
  }
  .education-container{
    gap: 3rem;
  }
  .portfolio-container .portfolio-box:first-child{
    order: 1;
  }
  .contact-box .field-box{
    grid-template-columns: repeat(2,1fr);
  }
}

@media all and (max-width:576px){
  section{
    padding: 10rem 3% 2rem;
  }
  .hero .hero_content_img{
    img{
      width: 37vw;
      height: 37vw;
      border-radius: 50%;
      margin-top: 10rem;
    }
  }
  .hero {
    flex-direction: column;
    justify-content: start;
  }
  .hero .hero_content {
    width: 50%;
    text-align: justify;
    margin-right: 40rem;
    p{
      width: 15rem;
    }
  }
   


  .contact-box .field-box{
    grid-template-columns: 1fr;
  }
}

@media all and (max-width:450px){
  html{
    font-size: 50%;
  }
  .home .home-content{
    text-align: center;
  }
  .home-content .btn-sci{
    flex-direction: column-reverse;
  }
  .home-content .btn-sci .sci{
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .contact-box form{
    padding: 2.5rem 3rem 3.5rem;
  }
  .contact-box h2{
    font-size: 3.5rem;
  }
}